.burger-components {
    display: flex;
    flex-direction: column; 
    gap: 16px;
}

.container-scroll {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    overflow-y: scroll;
    overflow-x: hidden;
}

.component-with-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 600px;
    padding-right: 16px;
}