.container {
    width: 600px;
    /* margin-left: 380px;    */
}

.container-scroll {
    width: 600px;
    height: 756px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tab {
    display: flex;
}