* {
    padding: 0;
    margin: 0;
}

.app-header {
    width: 1920px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--interface-modal-bg, #1C1C21);
}

.burger-buttons {
    margin-left: 320px;
    text-decoration: none;
    display: flex;
    gap: 8px;
    flex-direction: row;
    align-items: center;
}

.logo {
    margin-left: 112px;
    margin-right: 288px;
}

.burger-link {
    text-decoration: none;
    display:flex;
    flex-direction: row; 
    align-items: center; 
    color: var(--text-active-color);
    border-radius: 40px;
    border: 1px dashed var(--interface-accent, #4C4CFF);
    
}